.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.footer p {
  margin: 0;
}

.linkedin-icon {
  color: #0077b5;
  margin-left: 1rem;
  margin-top: 0;
  transition: color 0.3s;
}

.linkedin-icon:hover {
  color: #005582;
}
